<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kg.tili"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7"/>
    <application android:label="@string/app_name">
        <activity android:name="Dictionary"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WordListActivity"
                  android:label="@string/choose_word"
                  android:theme="@android:style/Theme.Light"
                >
        </activity>
        <activity
                android:name=".SingleWordActivity"
                android:label="@string/word_translation"
                android:theme="@android:style/Theme.Light"
                />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
